.profile{
    display: flex;
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 250px;
    position: relative;
}

.profileCoverImg{
    width: 95%;
    height: 200px;
    object-fit: cover;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 45%;
    transform: translateX(-50%); 
    /* right: 0; */
    margin: auto;
    top: 100px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 100px;
    
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}